<%- include('partials/header'); -%>

  <ul class="books">
    <li class="book">
      <img src="/book-icon-flat-24.jpg" alt="Book icon">
      <h4>DIM SUM, HERE WE COME!</h4>
      <p>by Maple Lam ; illustrated by Maple Lam</p>
    </li>
    <li class="book">
      <img src="/book-icon-flat-24.jpg" alt="Book icon">
      <h4>DANBI'S FAVORITE DAY</h4>
      <p>by Anna Kim ; illustrated by Anna Kim</p>
    </li>
    <li class="book">
      <img src="/book-icon-flat-24.jpg" alt="Book icon">
      <h4>SUMMER IS FOR COUSINS</h4>
      <p>by Rajani LaRocca ; illustrated by Abhi Alwar</p>
    </li>
    <li class="book">
      <img src="/book-icon-flat-24.jpg" alt="Book icon">
      <h4>DANBI'S FAVORITE DAY</h4>
      <p>by Anna Kim ; illustrated by Anna Kim</p>
    </li>
    <li class="book">
      <img src="/book-icon-flat-24.jpg" alt="Book icon">
      <h4>DIM SUM, HERE WE COME!</h4>
      <p>by Maple Lam ; illustrated by Maple Lam</p>
    </li>
    <li class="book">
      <img src="/book-icon-flat-24.jpg" alt="Book icon">
      <h4>SUMMER IS FOR COUSINS</h4>
      <p>by Rajani LaRocca ; illustrated by Abhi Alwar</p>
    </li>
  </ul>

  <%- include('partials/footer'); -%>