<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/UserImg.jpg" alt="">
  </div>
  <div class="headings">
    <h2>User Authentication</h2>
    <a href="/books" class="btn">View Books</a>
  </div>
</header>


<%- include('partials/footer'); -%>